<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" th:href="@{/static/img/favicon.ico}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>React App</title>
    <!--<link th:href="@{//{dm}/static/css/1.chunk.css(dm=${domain_name})}" rel="stylesheet">-->
    <!--<link th:href="@{//{dm}/static/css/main.chunk.css(dm=${domain_name})}" rel="stylesheet">-->
</head>
<body>
error
</body>
</html>
