<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" th:href="@{/static/img/favicon.ico}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" th:href="@{/static/manifest.json}">
    <title>React App</title>
    <!--<link th:href="@{//{dm}/static/css/1.chunk.css(dm=${domain_name})}" rel="stylesheet">-->
    <!--<link th:href="@{//{dm}/static/css/main.chunk.css(dm=${domain_name})}" rel="stylesheet">-->
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<div> sfsdfsdfsd</div>
<script th:src="@{//{dm}/static/js/0.chunk.js(dm=${domain_name})}"></script>
<script th:src="@{//{dm}/static/js/main.chunk.js(dm=${domain_name})}"></script>
<script th:src="@{//{dm}/static/js/bundle.js(dm=${domain_name})}"></script>
<script th:src="@{//{dm}/main.3c92e35414721cec137e.hot-update.js(dm=${domain_name})}"></script>
</body>
</html>
