<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flwm.dal.mapper.BuyRecordDOMapper">
  <resultMap id="BaseResultMap" type="com.flwm.dal.dao.BuyRecordDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="buy_date" jdbcType="TIMESTAMP" property="buyDate" />
    <result column="act_id" jdbcType="INTEGER" property="actId" />
    <result column="is_sucess" jdbcType="INTEGER" property="isSucess" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, buy_date, act_id, is_sucess
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from share_buy_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from share_buy_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.flwm.dal.dao.BuyRecordDO">
    insert into share_buy_record (id, user_id, buy_date, 
      act_id, is_sucess)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{buyDate,jdbcType=TIMESTAMP}, 
      #{actId,jdbcType=INTEGER}, #{isSucess,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.flwm.dal.dao.BuyRecordDO">
    insert into share_buy_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="buyDate != null">
        buy_date,
      </if>
      <if test="actId != null">
        act_id,
      </if>
      <if test="isSucess != null">
        is_sucess,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="buyDate != null">
        #{buyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actId != null">
        #{actId,jdbcType=INTEGER},
      </if>
      <if test="isSucess != null">
        #{isSucess,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flwm.dal.dao.BuyRecordDO">
    update share_buy_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="buyDate != null">
        buy_date = #{buyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actId != null">
        act_id = #{actId,jdbcType=INTEGER},
      </if>
      <if test="isSucess != null">
        is_sucess = #{isSucess,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flwm.dal.dao.BuyRecordDO">
    update share_buy_record
    set user_id = #{userId,jdbcType=INTEGER},
      buy_date = #{buyDate,jdbcType=TIMESTAMP},
      act_id = #{actId,jdbcType=INTEGER},
      is_sucess = #{isSucess,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>