<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flwm.dal.mapper.TradeDOMapper">
  <resultMap id="BaseResultMap" type="com.flwm.dal.dao.TradeDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="share_code" jdbcType="VARCHAR" property="shareCode" />
    <result column="add_date" jdbcType="DATE" property="addDate" />
    <result column="remove_date" jdbcType="DATE" property="removeDate" />
    <result column="buy_price" jdbcType="DOUBLE" property="buyPrice" />
    <result column="sell_price" jdbcType="DOUBLE" property="sellPrice" />
    <result column="buy_count" jdbcType="INTEGER" property="buyCount" />
    <result column="yield_rate" jdbcType="DOUBLE" property="yieldRate" />
    <result column="actual_yield_rate" jdbcType="DOUBLE" property="actualYieldRate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, share_code, add_date, remove_date, buy_price, sell_price, buy_count, 
    yield_rate, actual_yield_rate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from share_trade_record
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from share_trade_record
    where user_id = #{userId} order by id desc
    LIMIT #{offset},#{pageSize}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from share_trade_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.flwm.dal.dao.TradeDO">
    insert into share_trade_record (id, user_id, share_code, 
      add_date, remove_date, buy_price, 
      sell_price, buy_count, yield_rate, 
      actual_yield_rate)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{shareCode,jdbcType=VARCHAR}, 
      #{addDate,jdbcType=DATE}, #{removeDate,jdbcType=DATE}, #{buyPrice,jdbcType=DOUBLE}, 
      #{sellPrice,jdbcType=DOUBLE}, #{buyCount,jdbcType=INTEGER}, #{yieldRate,jdbcType=DOUBLE}, 
      #{actualYieldRate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.flwm.dal.dao.TradeDO">
    insert into share_trade_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="shareCode != null">
        share_code,
      </if>
      <if test="addDate != null">
        add_date,
      </if>
      <if test="removeDate != null">
        remove_date,
      </if>
      <if test="buyPrice != null">
        buy_price,
      </if>
      <if test="sellPrice != null">
        sell_price,
      </if>
      <if test="buyCount != null">
        buy_count,
      </if>
      <if test="yieldRate != null">
        yield_rate,
      </if>
      <if test="actualYieldRate != null">
        actual_yield_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="shareCode != null">
        #{shareCode,jdbcType=VARCHAR},
      </if>
      <if test="addDate != null">
        #{addDate,jdbcType=DATE},
      </if>
      <if test="removeDate != null">
        #{removeDate,jdbcType=DATE},
      </if>
      <if test="buyPrice != null">
        #{buyPrice,jdbcType=DOUBLE},
      </if>
      <if test="sellPrice != null">
        #{sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="buyCount != null">
        #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="yieldRate != null">
        #{yieldRate,jdbcType=DOUBLE},
      </if>
      <if test="actualYieldRate != null">
        #{actualYieldRate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flwm.dal.dao.TradeDO">
    update share_trade_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="shareCode != null">
        share_code = #{shareCode,jdbcType=VARCHAR},
      </if>
      <if test="addDate != null">
        add_date = #{addDate,jdbcType=DATE},
      </if>
      <if test="removeDate != null">
        remove_date = #{removeDate,jdbcType=DATE},
      </if>
      <if test="buyPrice != null">
        buy_price = #{buyPrice,jdbcType=DOUBLE},
      </if>
      <if test="sellPrice != null">
        sell_price = #{sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="buyCount != null">
        buy_count = #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="yieldRate != null">
        yield_rate = #{yieldRate,jdbcType=DOUBLE},
      </if>
      <if test="actualYieldRate != null">
        actual_yield_rate = #{actualYieldRate,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flwm.dal.dao.TradeDO">
    update share_trade_record
    set user_id = #{userId,jdbcType=INTEGER},
      share_code = #{shareCode,jdbcType=VARCHAR},
      add_date = #{addDate,jdbcType=DATE},
      remove_date = #{removeDate,jdbcType=DATE},
      buy_price = #{buyPrice,jdbcType=DOUBLE},
      sell_price = #{sellPrice,jdbcType=DOUBLE},
      buy_count = #{buyCount,jdbcType=INTEGER},
      yield_rate = #{yieldRate,jdbcType=DOUBLE},
      actual_yield_rate = #{actualYieldRate,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>