<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flwm.dal.mapper.UserDOMapper">
  <resultMap id="BaseResultMap" type="com.flwm.dal.dao.UserDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="email" jdbcType="CHAR" property="email" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="is_member" jdbcType="INTEGER" property="isMember" />
    <result column="member_deadline" jdbcType="TIMESTAMP" property="memberDeadline" />
    <result column="first_login_time" jdbcType="TIMESTAMP" property="firstLoginTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.flwm.dal.dao.UserDO">
    <result column="feature" jdbcType="LONGVARCHAR" property="feature" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, name, phone, email, pwd, is_member, member_deadline, first_login_time, 
    last_login_time
  </sql>
  <sql id="Blob_Column_List">
    feature
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from share_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByOpenId" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from share_user
    where open_id = #{openId}
  </select>

  <select id="selectByPhone" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from share_user
    where open_id = #{openId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from share_user
    where phone = #{phone}
  </delete>
  <insert id="insert" parameterType="com.flwm.dal.dao.UserDO">
    insert into share_user (id, open_id, name, 
      phone, email, pwd, is_member, 
      member_deadline, first_login_time, last_login_time, 
      feature)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=CHAR}, #{email,jdbcType=CHAR}, #{pwd,jdbcType=VARCHAR}, #{isMember,jdbcType=INTEGER}, 
      #{memberDeadline,jdbcType=TIMESTAMP}, #{firstLoginTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{feature,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.flwm.dal.dao.UserDO">
    insert into share_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="isMember != null">
        is_member,
      </if>
      <if test="memberDeadline != null">
        member_deadline,
      </if>
      <if test="firstLoginTime != null">
        first_login_time,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="feature != null">
        feature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=CHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="isMember != null">
        #{isMember,jdbcType=INTEGER},
      </if>
      <if test="memberDeadline != null">
        #{memberDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="firstLoginTime != null">
        #{firstLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feature != null">
        #{feature,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flwm.dal.dao.UserDO">
    update share_user
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=CHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="isMember != null">
        is_member = #{isMember,jdbcType=INTEGER},
      </if>
      <if test="memberDeadline != null">
        member_deadline = #{memberDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="firstLoginTime != null">
        first_login_time = #{firstLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feature != null">
        feature = #{feature,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.flwm.dal.dao.UserDO">
    update share_user
    set open_id = #{openId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=CHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      is_member = #{isMember,jdbcType=INTEGER},
      member_deadline = #{memberDeadline,jdbcType=TIMESTAMP},
      first_login_time = #{firstLoginTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      feature = #{feature,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flwm.dal.dao.UserDO">
    update share_user
    set open_id = #{openId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=CHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      is_member = #{isMember,jdbcType=INTEGER},
      member_deadline = #{memberDeadline,jdbcType=TIMESTAMP},
      first_login_time = #{firstLoginTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>